<div class="Users_main">

  <section class="Users__new">
    <p class="Users_title"> Welcome to new user </p>
    <%= form_with url: users_path do |form| %>
      <div class="Form_section">
        <p class="FormInput_label" > First name: </p>
        <%= form.text_field :first_name,
                            class: "Form_input",
                            autofocus: "autofocus" %>
      </div>
      <div class="Form_section">
        <p class="FormInput_label" > Last name: </p>
        <%= form.text_field :last_name, class: "Form_input" %>
      </div>
      <div class="Form_section">
        <p class="FormInput_label" > Email id: </p>
        <%= form.email_field :email, class: "Form_input" %>
      </div>
      <div class="Form_section">
        <p class="FormInput_label" >Password: </p>
        <%= form.password_field :password, class: "Form_input" %>
      </div>
      <div class="Form_section">
        <%= form.submit "Sign-up!", class: "Form_submit" %>
      <div>
    <% end %>
  </section>

</div>
